@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: radial-gradient(
    circle,
    rgba(38, 38, 38, 1) 0%,
    rgba(29, 29, 29, 1) 70%
  );
  -webkit-font-smoothing: antialiased;
}

body,
input,
textarea,
button {
  font-size: 1rem;
  font-weight: 400;
}
